<html>
    <head>
        <title>Products add THROUGH EJS</title>
    </head>
    <body>
        <form method = "POST" action = "/">
            <label> Name </label>
            <input type = "text" name = "prodname" placeholder="productname">
            <br>
            <br>
            <label> Image link </label>
            <input type = "text" name = "prodimg" placeholder="productImage">
            <br>
            <br>
            <label> Description </label>
            <input type = "text" name = "proddes" placeholder="productdescription">
            <br>
            <br>
            <label> Category </label>
            <input type = "text" name = "prodcat" placeholder="productCategory">
            <br>
            <br>
            <label> Availability </label>
            <input type = "number" name = "prodavai" placeholder="productavalilability">
            <br>
            <br>
            <label> Overall Rating </label>
            <input type = "number" name = "prodrating" placeholder="productRating">
            <br>
            <br>
            <label> Reviews </label>
            <input type = "text" name = "prodrev" placeholder="productReviews">
            <br>
            <br>
            <label> Offers </label>
            <input type = "text" name = "prodoffers" placeholder="productOffers">
            <br>

            <label> Price </label>
            <input type = "number" name = "prodprice" placeholder="productprice">
            <br>
            <br>
            <button type = "submit">Submit</button>
        </form>
    </body>
</html>