#name {
    margin-bottom: 10px;
}
/* div {
    border: 1px solid black;
} */
img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
    height: 180px;
  }
  
  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  table.fixed {table-layout:fixed; width:90px;}/*Setting the table width is important!*/
  table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

.limit{
    width:200px;
    word-wrap: break-word;
}
.card {
    text-align: center;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#redeembutton {
  margin-top: 15px;
}

#formrow {
  margin-top: 5%;
}

#header {
  text-align: center;
  font-size: 150%;
  background-color: chocolate;
  color: white;
}

#register {
  background-color: chocolate;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-left: 35%;
}

#register:hover {opacity: 1}